<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Bici Árbol</span>
      <span class="example-spacer"></span>
     <a routerLink="/login">Login</a>
     <a routerLink="/register">Register</a>
     <a routerLink="/admin">Admin</a>

    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>