.container {
    display: flex;
    justify-content: center;
}


mat-card {
    mat-card-content {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            mat-form-field {
                margin-top: 1em;
                width: 100%;
                min-width: 250px; 
            }
        
        }
        
    }
}

mat-spinner {
    margin-left: 67.5% !important;
    margin-bottom: 6em !important;
}
