<div class="container p-5">
    <div class="py-5">
        
        <div>
            <mat-card class="d-flex flex-column jusitfy-content-center align-items-center">
                <mat-card-title>Recuperar contraseña</mat-card-title>

                <mat-spinner *ngIf="spinner" style="min-width: 250px;" class="spinner m-5 p-5"></mat-spinner>

                <mat-card-content *ngIf="!spinner">
                    <form class="d-flex flex-column align-items-center p-5" [formGroup]="form" (ngSubmit)="passwordRecovery() ">

                        <mat-form-field>
                            <input type="email" matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="email.touched && email.hasError('required')">Campo obligatorio</mat-error>
                            <mat-error *ngIf="email.touched && email.hasError('email')">Email inválido</mat-error>
                        </mat-form-field>


                        <mat-hint class="mb-5 text-center" *ngIf="!form.valid">
                            <small>Ingrese su email</small>
                        </mat-hint>
                       
                        <!-- <mat-error *ngIf="serviceFailed">
                            Servicio sin respuesta - Intente más tarde
                        </mat-error> -->

                        <div class="button">
                            <button mat-button type="submit" [disabled]="!form.valid">Recuperar contraseña</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
       
    </div>
</div>