<p>Hola {{ name }},</p>
<p>Haga click en el enlace para ingresar una nueva contraseña. </p>
<p>
    <a href="{{ url }}">Nueva contraseña</a>
</p>

<p>Si ud no solicito un cambio de contraseña, ignore este email.</p>