.container {
    display: flex;
    justify-content: center;
    min-width: 250px;
}

.login {
    margin-bottom: 20px;
}

mat-card {
    mat-card-content {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            mat-form-field {
                margin-top: 1em;
                width: 100%;
                min-width: 250px; 
            }
            
            .button {
                display: flex;
                justify-content: flex-end;
            }
        
        }
        
    }
}
