<h1 style="text-align: center;">Register Page</h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
            <mat-hint *ngIf="registerForm.get('name').errors">Name is required</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Username" formControlName="username">
            <mat-hint *ngIf="registerForm.get('username').errors">Username is required</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-hint *ngIf="registerForm.get('email').errors">Email is required</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-hint *ngIf="registerForm.get('password').errors">Password is required</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirm Password" type="password" formControlName="passwordConfirm">
            <mat-hint *ngIf="registerForm.hasError('passwordsNotMatching')">Passwords not matching</mat-hint>
        </mat-form-field>

        <button mat-flat-button color="primary" [disabled]="registerForm.invalid" type="submit">Login</button>
    </div>
</form> 

<h3 *ngIf="registerForm.invalid">Forms contains followings errors</h3>
<small *ngIf="registerForm.get('password').hasError('passwordInvalid')">Password is not contain  a number</small><br>
<small *ngIf="registerForm.hasError('passwordsNotMatching')">Passwords not matching</small>