<div class="container p-5">
    <div class="py-5">
        
        <div>
            <mat-card class="d-flex flex-column jusitfy-content-center align-items-center">
                <mat-card-title>Ingresar nueva contraseña</mat-card-title>

                <mat-spinner *ngIf="spinner" style="min-width: 250px;" class="spinner m-5 p-5"></mat-spinner>

                <mat-card-content *ngIf="!spinner">
                    <form class="d-flex flex-column align-items-center p-5" [formGroup]="form" (ngSubmit)="newPassword() ">

                        <mat-form-field>
                            <input type="password" matInput placeholder="Nueva contraseña" formControlName="password">
                            <mat-error *ngIf="password.touched && password.hasError('required')">Campo obligatorio</mat-error>
                        </mat-form-field>
                        
                        <mat-form-field>
                            <input type="password" matInput placeholder="Reingrese su contraseña" formControlName="passwordConfirm">
                            <mat-error *ngIf="passwordConfirm.touched && passwordConfirm.hasError('required')">Campo obligatorio</mat-error>
                        </mat-form-field>


                        <mat-hint class="mb-5 text-center" *ngIf="!form.valid">
                            <small>Ingrese su nueva contraseña</small>
                        </mat-hint>
                       
                        <!-- <mat-error *ngIf="serviceFailed">
                            Servicio sin respuesta - Intente más tarde
                        </mat-error> -->

                        <div class="button">
                            <button mat-button type="submit" [disabled]="!form.valid || (password.value !== passwordConfirm.value) || password.value === ''">Recuperar contraseña</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
       
    </div>
</div>